@media (max-width:1679px) {
	.owl-bottomright-narrow .owl-controls .owl-buttons div {
	    width: 60px;
	    height: 60px;
	    line-height: 60px;
	}
}
@media (max-width:1199px) {
body.boxed .page{width:980px}
.category-products .products-grid.columns4 li.item{width:33.33%}
.category-products .products-grid.columns4 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns4 li.item.nth-child-3np1{clear:left}
.category-products .products-grid.columns5 li.item{width:33.33%}
.category-products .products-grid.columns5 li.item.nth-child-5np1{clear:none}
.category-products .products-grid.columns5 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns5 li.item.nth-child-3np1{clear:left}
.category-products .products-grid.columns6 li.item{width:20%}
.category-products .products-grid.columns6 li.item.nth-child-6np1{clear:none}
.category-products .products-grid.columns6 li.item.nth-child-5np1{clear:left}
.category-products .products-grid.columns7 li.item{width:20%}
.category-products .products-grid.columns7 li.item.nth-child-7np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-6np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-5np1{clear:left}
.category-products .products-grid.columns8 li.item{width:20%}
.category-products .products-grid.columns8 li.item.nth-child-8np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-7np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-6np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-5np1{clear:left}
.category-products .products-grid.flex-grid.columns4 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns4 li.item.nth-child-3np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-5np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-3np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-6np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-5np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-7np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-6np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-5np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-8np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-7np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-6np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-5np1{border-left-color:transparent}
.category-banner .banner-text h2{font-size:45px}
.category-banner .banner-text p{font-size:23px}
.category-boxed-banner .banner-text h2{font-size:38px}
.category-boxed-banner .banner-text p{font-size:17px}
.category-boxed-banner .banner-text a.shop-now{margin-left:16px;font-size:14px}
.col1-layout .product-shop .product-options-bottom,.col1-layout .add-to-box{float:none;width:auto;border-bottom:1px solid #ebebeb}
.col1-layout .sharing-tool-area{float:none}
.owl-banner-carousel .content.type1 h2{font-size:48px}
.owl-banner-carousel .content.type1 p{font-size:20px}
.owl-banner-carousel .content.type1 a{font-size:13px}
.owl-banner-carousel .content.type2 h2{font-size:37.2px;border-top:4px solid #08c;padding-top:8px}
.owl-banner-carousel .content.type2 h3{font-size:24.47px}
.owl-banner-carousel .content.type2 p{font-size:11.2px}
.owl-banner-carousel .content.type2 a{font-size:14.4px}
.owl-banner-carousel .content-9.type1 em{font-size:18px;margin-bottom:-4px;margin-left:8px}
.owl-banner-carousel .content-9.type1 h2{font-size:58px}
.owl-banner-carousel .content-9.type1 p{font-size:32px}
.owl-banner-carousel .content-9.type1 a{font-size:14px}
.owl-banner-carousel .content-9.type1 a>i{width:15px;height:15px;line-height:14px;font-size:11px;margin-bottom:3px;margin-left:10px}
.owl-banner-carousel .content-9.type2 h3{font-size:37.2px}
.owl-banner-carousel .content-9.type2 span{font-size:11.2px}
.owl-banner-carousel .content-9.type2 a{font-size:11px}
.cart-table a{line-height:24px}
.cart-table .cart-price{display:inline-block;margin-top:15px}
.cart-table thead{display:none}
.data-table.cart-table .product-image{z-index:0}
.data-table.cart-table tbody tr{position:relative;display:block;clear:both;padding:25px 0;border-bottom:1px solid #dcdcdc}
.data-table.cart-table tbody tr.first{padding-top:0}
.data-table.cart-table tbody td{display:block;padding:0;width:100%;border-width:0;text-align:center!important}
.data-table.cart-table tbody td.pr-img-td{clear:both;padding:0 0 15px}
.data-table.cart-table tbody td.action-td{position:absolute;top:20px;z-index:1}
.data-table.cart-table tbody tr.first td.action-td{top:-5px}
.data-table.cart-table tbody td.action-td .btn-remove2{float:right;line-height:22px}
.data-table.cart-table tfoot tr.first td{padding-top:25px}
.cart-table .item-options dd{padding:0}
.cart-table .qty-holder{width:90px;margin-top:15px}
.title-buttons{text-align:left}
.cart-table button.button{margin-bottom:10px;margin-left:0;float:none;width:100%}
.title-buttons h1,.title-buttons h2,.title-buttons h3,.title-buttons h4,.title-buttons h5,.title-buttons h6{float:none}
.cart .title-buttons .checkout-types{float:none;display:block}
.cart .title-buttons .checkout-types li{margin:0 0 10px}
.my-account .data-table thead{display:none}
.my-account .data-table tbody tr{display:block;border-bottom:1px solid #ddd;padding:15px 0 5px;position:relative}
.my-account .data-table tbody tr:first-child{border-top:1px solid #ddd}
.my-account .data-table tbody td{display:block;padding:0 15px 10px;width:100%;text-align:center!important;border-width:0}
.my-account .data-table tfoot td{display:block;text-align:center!important}
.my-account .data-table .add-to-cart-alt{margin:10px auto}
.my-account .data-table tbody .btn-remove{position:absolute;top:15px;right:15px}
.homepage-grid-banner .row{margin-left:-3px;margin-right:-3px}
.homepage-grid-banner .col-md-1,.homepage-grid-banner .col-md-2,.homepage-grid-banner .col-md-3,.homepage-grid-banner .col-md-4,.homepage-grid-banner .col-md-5,.homepage-grid-banner .col-md-6,.homepage-grid-banner .col-md-7,.homepage-grid-banner .col-md-8,.homepage-grid-banner .col-md-9,.homepage-grid-banner .col-md-10,.homepage-grid-banner .col-md-11,.homepage-grid-banner .col-md-12{padding-left:3px;padding-right:3px}
.homepage-grid-banner .col-md-margin{margin-bottom:7px}
.homepage-grid-banner .content a.btn-default{font-size:11px}
.homepage-grid-banner .grid1 .content h2{font-size:55.16px}
.homepage-grid-banner .grid1 .content p{font-size:23px;margin-right:3.12px}
.homepage-grid-banner .grid2 .content h3{font-size:22.53px}
.homepage-grid-banner .grid2 .content h2{font-size:22.53px}
.homepage-grid-banner .grid2 .content p{font-size:13.71px;margin-bottom:11.7px}
.homepage-grid-banner .grid3 .content h2{font-size:35.88px}
.homepage-grid-banner .grid3 .content h5{font-size:12.48px;margin-bottom:23.4px}
.homepage-grid-banner .grid3 .content p{font-size:12.48px;margin-bottom:3.9px}
.homepage-grid-banner .grid3 .content h4{font-size:17.72px;margin-top:15.6px}
.homepage-grid-banner .grid3 .content h4>span{font-size:13.77px}
.homepage-grid-banner .grid3 .content h3{font-size:29.41px;margin-bottom:11.7px}
.homepage-grid-banner .grid3 .content h3>span{font-size:19.6px}
.homepage-grid-banner .grid4 .content h2{font-size:29px;margin-bottom:12px}
.homepage-grid-banner .grid4 .content p{font-size:17px;margin-bottom:11.7px}
.grid-images .grid1{margin-bottom:9px}
.slider-with-side .side-area .item2{margin-bottom:8px}
.slider-with-side .side-area .item1 .content{bottom:15px;left:13px}
.slider-with-side .side-area .item1 .content h2{font-size:30px;margin-bottom:10px}
.slider-with-side .side-area .item1 .content em{font-size:22px;margin-left:2px}
.slider-with-side .side-area .item1 .content a{font-size:13px;margin-left:2px}
.slider-with-side .side-area .item2 .content{bottom:15px;left:15px}
.slider-with-side .side-area .item2 .content h2{font-size:28px;margin-bottom:10px}
.slider-with-side .side-area .item2 .content p{font-size:13px}
.slider-with-side .side-area .item2 .content a{font-size:12px;padding:7px 8px 7px 13px;margin:5px 0 0 25px}
.slider-with-side .side-area .item3 .content{bottom:15px;left:15px}
.slider-with-side .side-area .item3 .content h2{font-size:28px}
.slider-with-side .side-area .item3 .content p{font-size:17px;margin-bottom:15px}
.slider-with-side .side-area .item3 .content a{font-size:14px}
.slider-with-side .slider-area .item .content .text-area h2{padding:6px 45px 6px 10px;font-size:38px}
.slider-with-side .slider-area .item .content .text-area p{padding:10px 15px 10px 11px;font-size:15px}
.slider-with-side .slider-area .item .content .ribbon{right:11px;top:11px}
.slider-with-side .slider-area .item .content .ribbon em{font-size:13px;margin-right:60px}
.slider-with-side .slider-area .item .content .ribbon h3{font-size:30px;margin-right:12px}
.slider-with-side .slider-area .item .content .ribbon h5{font-size:16px;margin-top:-2px}
.owl-item-links-block ul li{padding:0 10px}
.owl-item-links-block ul li a{font-size:15px}
.owl-item-links-block span{font-size:15px;padding-left:15px;margin-left:5px}
.owl-item-links-block span .icon-angle-down{font-size:8px;margin-left:5px}
.slide3-1-content p{margin-bottom:3px;font-size:13px}
.slide3-1-content h2{font-size:30px;margin-bottom:15px}
.slide3-1-content .price-area em{font-size:10px}
.slide3-1-content .price-area em:first-child{margin-bottom:-2px}
.slide3-1-content .price-area h3{font-size:35px}
.slide3-1-content .button-area{padding-left:10px;margin-left:10px}
.slide3-1-content a.btn-default{height:45px;font-size:13px;line-height:45px;padding:0 17px 0 20px;border-radius:5px}
.slide3-1-content a.btn-default i{width:12px;height:12px;line-height:11px;font-size:9px;margin-bottom:2px;margin-left:8px}
.slide3-2-content em{font-size:18px;margin-left:2px;margin-bottom:4px}
.slide3-2-content h2{font-size:47px;margin-bottom:4px}
.slide3-2-content p{font-size:32px;margin-bottom:25px}
.slide3-2-content a{font-size:14px}
.slide3-2-content a>i{width:13px;height:13px;line-height:12px;font-size:10px;margin-bottom:3px;margin-left:10px}
.footer-container.fixed-position .footer-bottom .custom-block{display:none}
.filter-products .products div.item .product-image{min-height:0}
.top-newsletter #newsletter{width:270px}
.ajax-products{padding:0 15px}
.full-screen-slider #banner-slider-demo-20 .item > div.content > h2{font-size:60px}
.full-screen-slider #banner-slider-demo-20 .item > div.content > a{font-size:11px;padding:15px 30px;margin:15px 0}
#home-content-slider-demo-20 .item .item > div.content > h3{letter-spacing:0;font-size:40px}
#home-content-slider-demo-20 .item .item > div.content > a{font-size:11px;padding:15px 30px;margin:15px 0}
}
@media (max-width:1199px) and (min-width:992px) {
.home-side-menu h2.side-menu-title{padding:9px 15px}
.menu.side-menu>li>a{font-size:13px;padding:10px 5px}
.side-custom-menu h2{padding:10px 13px 10.5px}
.side-custom-menu ul li{padding:10px 4px 9px}
.side-custom-menu ul li a{font-size:13px}
.form-find-area {padding: 18px 40px 16px;}
}
@media (max-width:991px) {
body.boxed .page{width:760px}
.header-container .welcome-msg,.header-container .top-links-area+span.split{display:none}
.home-side-menu{display:none}
.add-to-cart button.button{width:140px}
.sm-bd-0{border:0!important}
.header-container.header-newskin .mini-cart .topCartContent:before{ right: 26.7px;}
.header-container.header-newskin .mini-cart .topCartContent:after{right: 26px;}
.header-container .header-wrapper{display:none}
.main-nav,.fixed-header-area{display:none}
.category-products .products-grid.columns3 li.item{width:50%}
.category-products .products-grid.columns3 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns3 li.item.nth-child-2np1{clear:left}
.category-products .products-grid.columns4 li.item{width:50%}
.category-products .products-grid.columns4 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns4 li.item.nth-child-2np1{clear:left}
.category-products .products-grid.columns5 li.item{width:50%}
.category-products .products-grid.columns5 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns5 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns5 li.item.nth-child-2np1{clear:left}
.category-products .products-grid.columns6 li.item{width:33.33%}
.category-products .products-grid.columns6 li.item.nth-child-5np1{clear:none}
.category-products .products-grid.columns6 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns6 li.item.nth-child-3np1{clear:left}
.category-products .products-grid.columns7 li.item{width:33.33%}
.category-products .products-grid.columns7 li.item.nth-child-6np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-5np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-3np1{clear:left}
.category-products .products-grid.columns8 li.item{width:33.33%}
.category-products .products-grid.columns8 li.item.nth-child-7np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-6np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-5np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-3np1{clear:left}
.category-products .products-grid.flex-grid.columns3 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns3 li.item.nth-child-2np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns4 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns4 li.item.nth-child-2np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-2np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-5np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-3np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-6np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-5np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-3np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-7np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-6np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-5np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-3np1{border-left-color:transparent}
.category-banner .banner-text h2{font-size:28px}
.category-banner .banner-text p{font-size:16px}
.category-boxed-banner .banner-text h2{font-size:28px}
.category-boxed-banner .banner-text p{font-size:12px}
.category-boxed-banner .banner-text a.shop-now{margin-left:12px;font-size:12px}
.homepage-bar .col-lg-4{border:0;text-align:left !important;}
.owl-banner-carousel .content.type1 h2{font-size:36px}
.owl-banner-carousel .content.type1 p{font-size:15px}
.owl-banner-carousel .content.type1 a{font-size:10px}
.owl-banner-carousel .content.type2 h2{font-size:27.9px;border-top:3px solid #08c;padding-top:6px}
.owl-banner-carousel .content.type2 h3{font-size:18.36px}
.owl-banner-carousel .content.type2 p{font-size:8.4px}
.owl-banner-carousel .content.type2 a{font-size:10.8px}
.owl-banner-carousel .content-9.type1 em{font-size:15px;margin-bottom:-3px;margin-left:6px}
.owl-banner-carousel .content-9.type1 h2{font-size:50px}
.owl-banner-carousel .content-9.type1 p{font-size:26px}
.owl-banner-carousel .content-9.type1 a{font-size:12px}
.owl-banner-carousel .content-9.type1 a>i{width:13px;height:13px;line-height:12px;font-size:10px;margin-bottom:3px;margin-left:7px}
.owl-banner-carousel .content-9.type2 h3{font-size:27.9px}
.owl-banner-carousel .content-9.type2 span{font-size:8.4px}
.owl-banner-carousel .content-9.type2 a{font-size:9px}
.homepage-grid-banner .row{margin-left:-2px;margin-right:-3px}
.homepage-grid-banner .col-md-1,.homepage-grid-banner .col-md-2,.homepage-grid-banner .col-md-3,.homepage-grid-banner .col-md-4,.homepage-grid-banner .col-md-5,.homepage-grid-banner .col-md-6,.homepage-grid-banner .col-md-7,.homepage-grid-banner .col-md-8,.homepage-grid-banner .col-md-9,.homepage-grid-banner .col-md-10,.homepage-grid-banner .col-md-11,.homepage-grid-banner .col-md-12{padding-left:2px;padding-right:3px}
.homepage-grid-banner .col-md-margin{margin-bottom:4px}
.homepage-grid-banner .content a.btn-default{font-size:10px;padding:4px 6px;padding-right:3px}
.homepage-grid-banner .grid1 .content h2{font-size:42.43px}
.homepage-grid-banner .grid1 .content p{font-size:17.68px;margin-bottom:6px;margin-right:2.4px}
.homepage-grid-banner .grid2 .content h3{font-size:17.33px}
.homepage-grid-banner .grid2 .content h2{font-size:17.33px}
.homepage-grid-banner .grid2 .content p{font-size:10.55px;margin-bottom:9px}
.homepage-grid-banner .grid3 .content h2{font-size:27.6px}
.homepage-grid-banner .grid3 .content h5{font-size:9.6px;margin-bottom:18px}
.homepage-grid-banner .grid3 .content p{font-size:9.6px;margin-bottom:3px}
.homepage-grid-banner .grid3 .content h4{font-size:13.63px;margin-top:12px}
.homepage-grid-banner .grid3 .content h4>span{font-size:10.6px}
.homepage-grid-banner .grid3 .content h3{font-size:22.63px;margin-bottom:9px}
.homepage-grid-banner .grid3 .content h3>span{font-size:15.08px}
.homepage-grid-banner .grid4 .content h2{font-size:21px;margin-bottom:9px}
.homepage-grid-banner .grid4 .content p{font-size:14px;margin-bottom:7px}
.full-screen-slider .item > div.content > h2{font-size:47.02px;margin-bottom:14.04px}
.full-screen-slider .item > div.content > p{font-size:19.59px;margin-bottom:27.3px}
.full-screen-slider .item > div.content > a.btn-default{font-size:12px;padding:12px 40px;border-radius:6px}
.full-screen-slider .item > div.content em.type1{font-size:14.31px;margin-bottom:-3.9px}
.full-screen-slider .item > div.content em.type2{font-size:22.99px;margin-bottom:7.8px;margin-left:24px}
.full-screen-slider .item > div.content em.type3{font-size:13.79px;margin-top:7.8px}
.full-screen-slider .item > div.content h3{font-size:48.02px}
.full-screen-slider .item > div.content h4{font-size:40.86px;padding-right:27px}
.full-screen-slider .item > div.content .sale-bar a{font-size:16.35px;margin-left:18px}
.full-screen-slider .item > div.content .sale-bar a .icon-angle-down{font-size:9px;margin-left:7.8px}
.full-screen-slider .item > div.content .sale-bar>div.f-left{padding:11.5px 17.16px}
.full-screen-slider .item > div.content .sale-bar>div.f-left:first-child{padding:11.7px 31.2px}
.full-screen-slider .item > div.content .sale-bar{height:63.96px;margin-left:10.92px}
.full-screen-slider .item > div.content .sale-bar .triangle{height:63.96px;width:23.4px}
.full-screen-slider .item > div.content .sale-bar .triangle>div{height:32px;border-width:16px;border-top-width:32px;margin:0 -16px -16px 0}
.full-screen-slider .item > div.content .sale-bar .triangle>div:first-child{height:32px;border-width:16px;border-bottom-width:32px;margin:-16px -16px 0 0}
.full-screen-slider .item > div.content.content-2{margin-top:-58px}
.full-screen-slider .item > div.content.content-3{margin-top:-72px}
.slider-with-side .slider-area{padding:0 8px;float:none;width:100%}
.slider-with-side .side-area{padding:0;float:none;width:100%}
.slider-with-side .side-area .item1,.slider-with-side .side-area .item2,.slider-with-side .side-area .item3{padding:8px;width:33.33%;float:left;margin:0}
.slider-with-side .side-area .item1 .content{bottom:20px;left:20px}
.slider-with-side .side-area .item2 .content{bottom:20px;left:15px}
.slider-with-side .side-area .item3 .content{bottom:20px;left:20px}
.slide3-2-content em{font-size:14px;margin-left:2px;margin-bottom:3px}
.slide3-2-content h2{font-size:38px;margin-bottom:3px}
.slide3-2-content p{font-size:29px;margin-bottom:20px}
.slide3-2-content a{font-size:12px}
.slide3-2-content a>i{width:13px;height:13px;line-height:12px;font-size:10px;margin-bottom:2px;margin-left:7px}
#banner-slider-demo-1 .slide1-content img.quote{width:30px}
#banner-slider-demo-1 .slide1-content em{font-size:20px;margin:0 8px}
#banner-slider-demo-1 .slide1-content h2{font-size:60px;margin:4px 0 8px}
#banner-slider-demo-1 .slide1-content p{font-size:18px}
#banner-slider-demo-1 .slide2-content em{font-size:20px;margin-left:7px}
#banner-slider-demo-1 .slide2-content h2{font-size:65px;margin:2px 0 8px}
#banner-slider-demo-1 .slide2-content p{font-size:15px;margin-left:7px;margin-bottom:25px}
#banner-slider-demo-1 .slide2-content p span.split{margin:0 8px 0 9px}
#banner-slider-demo-1 .slide2-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
#banner-slider-demo-1 .slide3-content em{font-size:20px}
#banner-slider-demo-1 .slide3-content h2{font-size:65px;margin-bottom:13px}
#banner-slider-demo-1 .slide3-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
#banner-slider-demo-14 .slide1-content img.quote{width:30px}
#banner-slider-demo-14 .slide1-content em{font-size:20px;margin:0 8px}
#banner-slider-demo-14 .slide1-content h2{font-size:60px;margin:4px 0 8px}
#banner-slider-demo-14 .slide1-content p{font-size:18px}
#banner-slider-demo-14 .slide2-content em{font-size:20px;margin-left:7px}
#banner-slider-demo-14 .slide2-content h2{font-size:65px;margin:2px 0 8px}
#banner-slider-demo-14 .slide2-content p{font-size:15px;margin-left:7px;margin-bottom:25px}
#banner-slider-demo-14 .slide2-content p span.split{margin:0 8px 0 9px}
#banner-slider-demo-14 .slide2-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
#banner-slider-demo-14 .slide3-content em{font-size:20px}
#banner-slider-demo-14 .slide3-content h2{font-size:65px;margin-bottom:13px}
#banner-slider-demo-14 .slide3-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
#banner-slider-demo-13 .slide1-content img.quote{width:30px}
#banner-slider-demo-13 .slide1-content em{font-size:20px;margin:0 8px}
#banner-slider-demo-13 .slide1-content h2{font-size:60px;margin:4px 0 8px}
#banner-slider-demo-13 .slide1-content p{font-size:18px}
#banner-slider-demo-13 .slide2-content em{font-size:20px;margin-left:7px}
#banner-slider-demo-13 .slide2-content h2{font-size:65px;margin:2px 0 8px}
#banner-slider-demo-13 .slide2-content p{font-size:15px;margin-left:7px;margin-bottom:25px}
#banner-slider-demo-13 .slide2-content p span.split{margin:0 8px 0 9px}
#banner-slider-demo-13 .slide2-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
#banner-slider-demo-13 .slide3-content em{font-size:20px}
#banner-slider-demo-13 .slide3-content h2{font-size:65px;margin-bottom:13px}
#banner-slider-demo-13 .slide3-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-right:1px}
.menu.side-menu{display:none}
.home-side-menu .mobile-nav{display:block;height:auto}
.sm-xs-margin-bottom{margin-bottom:20px}
.cart .crosssell li.item:nth-child(2n+1){clear:both}
.parallax {background-position: center center !important;background-attachment: inherit;background-size: 100% auto;}
.parallax-category-banner .parallax{padding:50px 0}
.parallax-content h2{font-size:38px}
.parallax-content p{font-size:20px}
.footer-top-subscribe h4{margin:10px 0}
.footer-top-subscribe .input-box{margin:10px 0}
#banner-slider-demo-11 .content-1{padding:25px 15px 10px;margin-left:-122px;margin-top:-75px}
#banner-slider-demo-11 .content-1>div:first-child{padding-right:7px}
#banner-slider-demo-11 .content-1 p{font-size:16px;margin-left:5px}
#banner-slider-demo-11 .content-1 h3{font-size:58px}
#banner-slider-demo-11 .content-1 h3 b{margin-top:-17px}
#banner-slider-demo-11 .content-1 em{font-size:14px;margin-right:3px}
#banner-slider-demo-11 .content-1 h4{font-size:26px}
#banner-slider-demo-11 .content-1 h5{font-size:14px;margin-top:-2px}
#banner-slider-demo-11 .content-2{right:20px;bottom:20px}
#banner-slider-demo-11 .content-2>div{padding:15px 10px}
#banner-slider-demo-11 .content-2>div:first-child{margin:-2px 0;padding-left:20px}
#banner-slider-demo-11 .content-2 p{font-size:15px;margin-left:1px}
#banner-slider-demo-11 .content-2 h3{font-size:38px}
#banner-slider-demo-11 .content-2 em{font-size:12px;margin-right:2px}
#banner-slider-demo-11 .content-2 h4{font-size:26px}
#banner-slider-demo-11 .content-2 h5{font-size:13px;margin-top:-2px}
#banner-slider-demo-11 .content-2 a{font-size:10px;margin-right:-6px}
#multiship-addresses-table select{max-width:250px}
#multiship-addresses-table thead{display:none}
#multiship-addresses-table tbody tr{position:relative;display:block;clear:both;padding:25px 0;border-bottom:1px solid #dcdcdc}
#multiship-addresses-table tbody tr.first{border-top:1px solid #dcdcdc}
#multiship-addresses-table tbody td{display:block;padding:5px 0;width:100%;border:0;text-align:center!important}
#multiship-addresses-table a.btn-remove{position:absolute;right:10px;top:10px}
#multiship-addresses-table .item-options dd{padding:0}
.checkout-progress{padding:0}
.multiple-checkout #review-order-form .data-table thead{display:none}
.multiple-checkout #review-order-form .data-table tbody tr{position:relative;display:block;clear:both;padding:25px 0;border-bottom:1px solid #dcdcdc}
.multiple-checkout #review-order-form .data-table tbody tr.first{border-top:1px solid #dcdcdc}
.multiple-checkout #review-order-form .data-table tbody td{display:block;padding:5px 0;width:100%;border:0;text-align:center!important}
.multiple-checkout #review-order-form .data-table .item-options dd{padding:0}
.multiple-checkout #review-order-form .data-table tfoot{border-left:1px solid #d9dde3;border-right:1px solid #d9dde3}
.multiple-checkout #review-order-form .data-table tfoot td{display:block;padding:5px 0;width:100%;border:0;text-align:center!important}
#parallax_02{padding:150px 0}
#parallax_03{padding:150px 0}
body.side-header .top-container,body.side-header .main-container,body.side-header .footer-container{margin-left:0}
#banner-slider-demo-16 .slide1-content,#banner-slider-demo-16 .slide2-content{padding-left:0}
#banner-slider-demo-16 .text-content em{font-size:18px;margin:0;margin-bottom:-8px}
#banner-slider-demo-16 .text-content h2{font-size:60px;letter-spacing:-3px}
#banner-slider-demo-16 .text-content p{margin:0}
#banner-slider-demo-16 .text-content p span{font-size:18px;padding-left:6px}
#banner-slider-demo-16 .text-content p a{font-size:12px;padding:8px 20px;margin-left:10px;margin-top:5px}
.sticky-product{padding:15px 0}
.side-header .sticky-product{padding-top:60px}
.side-header .sticky-product > .container{max-width:100%;padding-left:15px}
.img-desc-home3{margin-top:-65px;padding:0 16px}
.img-desc-home3 h3{font-size:16px}
.img-desc-home3 hr{width:60px;margin:10px 0}
.img-desc-home3 p{font-size:10px}
.img-desc-home3 a{font-size:10px}
.top-newsletter #newsletter{width:160px}
.full-screen-slider #banner-slider-demo-20 .item > div.content > h2{font-size:45px}
.full-screen-slider #banner-slider-demo-20 .item > div.content > a{font-size:10px;padding:10px 20px;margin:10px 0}
#home-content-slider-demo-20 .item > div.content > h3{letter-spacing:0;font-size:25px;margin-bottom:10px}
#home-content-slider-demo-20 .item > div.content > a{font-size:10px;padding:10px 20px;margin:10px 0}
.offer-deal .item img {width: 100%;}
.full-width-image > h3{font-size:60px}
.block-main-layer {position: fixed;right: -100%;top: 0;bottom: 0;background-color: #fff;width: 310px;padding: 0;z-index: 998;transition: all 0.3s;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;-o-transition: all 0.3s;}
.block-main-layer .block {padding: 0 15px;}
.block-main-layer .block-category-nav {padding-top: 15px;}
.block-main-layer .block .block-title:before {margin-top: -12px;text-align: center;}
.block-main-layer .block .block-title, .block-main-layer .block.block-layered-nav dt, .block-main-layer .block-layered-nav .currently .block-subtitle {padding: 10px 20px;}
.block-main-layer .block-layered-nav .currently li, .block-main-layer .block-layered-nav .currently ol, .block-main-layer .block-layered-nav .actions{padding-left: 10px;padding-right: 20px; }
.block-main-layer .block.block-category-nav .block-title {padding-bottom: 16px;}
.block-main-layer .block.block-layered-nav dt:before {text-align: center;margin-top: -12px;}
.block-main-layer .block.block-layered-nav dd {padding: 10px 20px 26px;}
.block-main-layer .block-category-nav .category-list a.plus {right: -3px;}
.col-left .block-main-layer {left: -100%;right: auto;}
}
@media (min-width:768px) and (max-width:991px) {
.offer-deal .item .content h3 a{font-size: 30px;line-height: 25px;}
.offer-deal .item .content p{font-size: 16px;line-height: 25px;}
.offer-deal .item .content .btn-default {font-size: 11px;padding: 8px 12px;margin-top: 5px;}
.catalog-product-view .col-main, .catalog-product-view .sidebar {width: 100%;}
}
@media (min-width:768px) {
.col2-left-layout .col-left.sidebar{padding-right:12px;align-self: flex-start;}
.col2-left-layout .col-main{padding-left:12px;align-self: flex-start;}
.col2-right-layout .col-right.sidebar{padding-left:12px;align-self: flex-start;}
.col2-right-layout .col-main{padding-right:12px;align-self: flex-start;}
.col3-layout .col-left.sidebar{padding-right:12px;align-self: flex-start;}
.col3-layout .col-main{padding-left:12px;padding-right:12px;align-self: flex-start;}
.col3-layout .col-right.sidebar{padding-left:12px;align-self: flex-start;}
div.small-padding{padding-right:15px}
.md-f-right{float:right!important}
.md-order-6{-webkit-order:6;-moz-order:6;-ms-flex-order:6;order:6}
.md-order-12{-webkit-order:12;-moz-order:12;-ms-flex-order:12;order:12}
.product-tabs.vertical>ul{width:150px;float:left;bottom:0;right:-1px;text-align:right}
.product-tabs.vertical>ul li.active{border-top-color:#eee;border-left-color:#08c}
.product-tabs.vertical>ul li{float:none;border-radius:5px 0 0 5px;border-width:1px 0 1px 3px;margin-right:0;margin-bottom:1px}
.product-tabs.vertical .tab-content{min-height:250px;border-radius:0 3px 3px 0;margin-left:150px}
.category-products .products-grid.flex-grid.columns2 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns2 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns3 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns3 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns4 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns4 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(3) .item-area{border-top-color:transparent}
}
@media (min-width:992px) {
.a-right-md{text-align:right}
.a-left-md{text-align:left}
.col-lg-6.col-lg-5-5{width:45%;z-index:1}
.col-lg-6.col-lg-6-5{width:55%}
.color-banner .col-lg-5-5.a-left h2{margin-left:-35%}
.color-banner .col-lg-5-5.a-right h2{margin-right:-20%}
.lg-order-12{-webkit-order:12;-moz-order:12;-ms-flex-order:12;order:12}
body.mobile-nav-shown .mobile-nav-overlay{visibility:hidden;opacity:0;filter:alpha(opacity=0)}
body.mobile-nav-shown.md-mobile-menu .mobile-nav-overlay{visibility:visible;opacity:.15;filter:alpha(opacity=15)}
body.mobile-nav-shown .page{left:0}
body.mobile-nav-shown.md-mobile-menu .page{left:250px}
body.mobile-nav-shown .mobile-nav.side-block{left:-250px}
body.mobile-nav-shown.md-mobile-menu .mobile-nav.side-block{left:0}
.ajax-products > .category-detail{padding-left:60px}
}
@media (min-width:1280px) {
body.mobile-nav-shown.md-mobile-menu .mobile-nav.side-block{left:-250px}
body.mobile-nav-shown.md-mobile-menu .page{left:0}
body.mobile-nav-shown.md-mobile-menu .mobile-nav-overlay{visibility:hidden;opacity:0;filter:alpha(opacity=0)}
}
@media (max-width:767px) {
body.boxed .page{width:620px}
.md-clearer{clear:both}
.history .featured-box{margin-left:0}
.history .thumb{display:none}
table.for-desktop{display:none}
table.for-mobile{display:table}
.tab-content{border:0}
.product-tabs>ul li{display:inline-block}
.header{width:100%}
.header-container.header-newskin .header .mini-cart{margin-left:0;}
.col-main.f-right{float:none!important}
.col-left.f-left{float:none!important}
.owl-bottomright-narrow .owl-controls .owl-buttons div{width:40px;height:40px;line-height:40px}
.breadcrumbs{text-align:left}
.top-container >.breadcrumbs{padding-left:15px;padding-right:15px}

.category-products .products-grid.columns2 li.item{width:50%}
.category-products .products-grid.columns2 li.item.nth-child-2np1{clear:left}
.category-products .products-grid.columns3 li.item{width:50%}
.category-products .products-grid.columns3 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns3 li.item.nth-child-2np1{clear:left}
.category-products .products-grid.columns4 li.item{width:50%}
.category-products .products-grid.columns4 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns4 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns4 li.item.nth-child-2np1{clear:left}
.category-products .products-grid.columns5 li.item{width:50%}
.category-products .products-grid.columns5 li.item.nth-child-5np1{clear:none}
.category-products .products-grid.columns5 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns5 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns5 li.item.nth-child-2np1{clear:left}
.category-products .products-grid.columns6 li.item{width:50%}
.category-products .products-grid.columns6 li.item.nth-child-6np1{clear:none}
.category-products .products-grid.columns6 li.item.nth-child-5np1{clear:none}
.category-products .products-grid.columns6 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns6 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns6 li.item.nth-child-2np1{clear:left}
.category-products .products-grid.columns7 li.item{width:50%}
.category-products .products-grid.columns7 li.item.nth-child-7np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-6np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-5np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns7 li.item.nth-child-2np1{clear:left}
.category-products .products-grid.columns8 li.item{width:50%}
.category-products .products-grid.columns8 li.item.nth-child-8np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-7np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-6np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-5np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-4np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-3np1{clear:none}
.category-products .products-grid.columns8 li.item.nth-child-2np1{clear:left}
.category-products .products-grid.flex-grid.columns2 li.item.nth-child-2np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns3 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns3 li.item.nth-child-2np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns4 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns4 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns4 li.item.nth-child-2np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-5np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns5 li.item.nth-child-2np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-6np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-5np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns6 li.item.nth-child-2np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-7np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-6np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-5np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns7 li.item.nth-child-2np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-8np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-7np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-6np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-5np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-4np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-3np1{border-left-color:#e3e4e4}
.category-products .products-grid.flex-grid.columns8 li.item.nth-child-2np1{border-left-color:transparent}
.category-products .products-grid.flex-grid.columns2 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns2 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns3 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns3 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns4 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns4 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(2) .item-area{border-top-color:transparent}
.products-list .product-image-area{width:150px}
.products-list .details-area{width:auto;float:none;margin-left:150px}
.category-banner .banner-text h2{font-size:28px}
.category-banner .banner-text p{display:none}
.category-boxed-banner .banner-text h2{font-size:28px}
.category-boxed-banner .banner-text p{display:none}
.parallax-slider .owl-carousel h2{font-size:40px}
.parallax-slider .owl-carousel p{font-size:13px;margin-bottom:15px}
.parallax-slider .owl-carousel a{font-size:13px}
.parallax-slider .owl-theme .owl-controls{margin-top:15px}
.single-images .single-image{margin-bottom:10px}
.owl-banner-carousel .content.type1 h2{font-size:24px}
.owl-banner-carousel .content.type1 p{display:none}
.owl-banner-carousel .content.type1 a{font-size:8px}
.owl-banner-carousel .content.type2 h2{font-size:20px;border-top:2px solid #08c;padding-top:4px}
.owl-banner-carousel .content.type2 h3{font-size:13px}
.owl-banner-carousel .content.type2 p{display:none}
.owl-banner-carousel .content.type2 a{font-size:10px}
.owl-banner-carousel .content-9.type1 em{font-size:11px;margin-bottom:-2px;margin-left:4px}
.owl-banner-carousel .content-9.type1 h2{font-size:28px}
.owl-banner-carousel .content-9.type1 p{display:none}
.owl-banner-carousel .content-9.type1 a{display:none}
.owl-banner-carousel .content-9.type2 h3{font-size:20px;margin-bottom:5px}
.owl-banner-carousel .content-9.type2 span{display:none}
.owl-banner-carousel .content-9.type2 a{font-size:9px}
.homepage-grid-banner .row{margin-left:-10px;margin-right:-10px}
.homepage-grid-banner .col-md-1,.homepage-grid-banner .col-md-2,.homepage-grid-banner .col-md-3,.homepage-grid-banner .col-md-4,.homepage-grid-banner .col-md-5,.homepage-grid-banner .col-md-6,.homepage-grid-banner .col-md-7,.homepage-grid-banner .col-md-8,.homepage-grid-banner .col-md-9,.homepage-grid-banner .col-md-10,.homepage-grid-banner .col-md-11,.homepage-grid-banner .col-md-12{padding-left:10px;padding-right:10px}
.homepage-grid-banner .col-md-margin{margin-bottom:0}
.homepage-grid-banner .content a.btn-default{font-size:14px;padding:6px 12px;padding-right:6px}
.homepage-grid-banner img{margin-bottom:20px}
.homepage-grid-banner .grid1 .content h2{font-size:70.72px}
.homepage-grid-banner .grid1 .content p{font-size:29.47px;margin-bottom:10px;margin-right:4px}
.homepage-grid-banner .grid2 .content h3{font-size:28.88px}
.homepage-grid-banner .grid2 .content h2{font-size:28.88px}
.homepage-grid-banner .grid2 .content p{font-size:17.58px;margin-bottom:15px}
.homepage-grid-banner .grid3 .content h2{font-size:46px}
.homepage-grid-banner .grid3 .content h5{font-size:16px;margin-bottom:30px}
.homepage-grid-banner .grid3 .content p{font-size:16px;margin-bottom:5px}
.homepage-grid-banner .grid3 .content h4{font-size:22.72px;margin-top:20px}
.homepage-grid-banner .grid3 .content h4>span{font-size:17.66px}
.homepage-grid-banner .grid3 .content h3{font-size:37.71px;margin-bottom:15px}
.homepage-grid-banner .grid3 .content h3>span{font-size:25.14px}
.homepage-grid-banner .grid4 .content h2{font-size:35px}
.homepage-grid-banner .grid4 .content p{font-size:23px;margin-bottom:15px}
.grid-images .grid2{margin-bottom:9px}
.full-screen-slider .item > div.content em.type1{font-size:8px;margin-bottom:-2px}
.full-screen-slider .item > div.content em.type2{font-size:11px;margin-bottom:4px;margin-left:10px}
.full-screen-slider .item > div.content em.type3{font-size:7px;margin-top:4px}
.full-screen-slider .item > div.content h3{font-size:25px}
.full-screen-slider .item > div.content h4{font-size:20px;border-right:0}
.full-screen-slider .item > div.content .sale-bar a{font-size:8px;margin-left:4px}
.full-screen-slider .item > div.content .sale-bar a .icon-angle-down{font-size:6px;margin-left:4px}
.full-screen-slider .item > div.content .sale-bar>div.f-left{padding:6px 4px}
.full-screen-slider .item > div.content .sale-bar>div.f-left:first-child{padding:6px 4px}
.full-screen-slider .item > div.content .sale-bar{height:32px;margin-left:2px}
.full-screen-slider .item > div.content .sale-bar .triangle{height:32px;width:12px}
.full-screen-slider .item > div.content .sale-bar .triangle>div{height:16px;border-width:8px;border-top-width:16px;margin:0 -8px -8px 0}
.full-screen-slider .item > div.content .sale-bar .triangle>div:first-child{height:16px;border-width:8px;border-bottom-width:16px;margin:-8px -8px 0 0}
.full-screen-slider .item > div.content.content-1{margin-top:-73px}
.full-screen-slider .item > div.content.content-1 > p{font-size:14px;margin:20px 0}
.full-screen-slider .item > div.content.content-1 > a.btn-default{font-size:10px;padding:10px 15px}
.full-screen-slider .item > div.content.content-1 > img{width:150px}
.full-screen-slider .item > div.content.content-2{margin-top:-29px}
.slider-with-side .side-area .item1,.slider-with-side .side-area .item2,.slider-with-side .side-area .item3{padding:8px;width:100%;float:none}
.slider-with-side .side-area img{width:100%}
.slider-with-side .side-area .item1 .content{bottom:30px;left:25px}
.slider-with-side .side-area .item2 .content{bottom:30px;left:25px}
.slider-with-side .side-area .item3 .content{bottom:30px;left:25px}
.slider-with-side .slider-area .item .content .text-area h2{padding:4px 38px 4px 7px;font-size:22px}
.slider-with-side .slider-area .item .content .text-area p{padding:6px 11px 6px 8px;font-size:9px}
.slider-with-side .slider-area .item .content .ribbon{right:3px;top:3px}
.slider-with-side .slider-area .item .content .ribbon em{font-size:8px;margin-right:40px}
.slider-with-side .slider-area .item .content .ribbon h3{font-size:22px;margin-right:7px}
.slider-with-side .slider-area .item .content .ribbon h5{font-size:10px;margin-top:-1px}
.slide3-1-content p{margin-bottom:3px;font-size:11px}
.slide3-1-content h2{font-size:25px;margin-bottom:10px}
.slide3-1-content .price-area em{font-size:8px}
.slide3-1-content .price-area em:first-child{margin-bottom:-2px}
.slide3-1-content .price-area h3{font-size:28px}
.slide3-1-content .button-area{padding-left:10px;margin-left:10px}
.slide3-1-content a.btn-default{height:35px;font-size:11px;line-height:35px;padding:0 13px 0 15px;border-radius:5px}
.slide3-1-content a.btn-default i{width:12px;height:12px;line-height:11px;font-size:9px;margin-bottom:2px;margin-left:8px}
.slide3-2-content em{font-size:12px;margin-left:2px;margin-bottom:1px}
.slide3-2-content h2{font-size:35px;margin-bottom:1px}
.slide3-2-content p{font-size:25px;margin-bottom:13px}
.slide3-2-content a{font-size:12px}
.slide3-2-content a>i{width:13px;height:13px;line-height:12px;font-size:10px;margin-bottom:2px;margin-left:7px}
.owl-item-links-block ul li{padding:0 8px}
.owl-item-links-block ul li a{font-size:12px}
.owl-item-links-block span{font-size:12px;padding-left:13px;margin-left:3px}
.owl-item-links-block span .icon-angle-down{font-size:7px;margin-left:4px}
.parallax.parallax-with-subscribe{padding:30px 0}
li.etalage_small_thumbs{display:none}
.product-view .product-img-box{margin-bottom:30px}
.form-list .field,.col2-set .col-1,.col2-set .col-2{float:none!important;width:100%}
.form-list .field+.field{margin-top:10px}
.account-login .content{min-height:0}
.box .box-content{min-height:0}
.account-login .new-users{margin-bottom:25px}
.col2-set .col-1{margin-bottom:25px}
#opc-review .data-table thead{display:none}
#opc-review .data-table tbody tr,#opc-review .data-table tfoot tr{display:block;border:1px solid #ddd;border-width:0 1px 1px;padding:15px 0 5px;position:relative}
#opc-review .data-table tfoot tr.last{background:#f6f6f6}
#opc-review .data-table tbody tr:first-child{border-top:1px solid #ddd}
#opc-review .data-table tbody td,#opc-review .data-table tfoot td{display:block;padding:0 15px 10px;width:100%;text-align:center!important;border-width:0}
#newsletter_popup{width:auto!important}
.footer-bottom{text-align:center}
.footer-bottom a.logo{float:none;margin:0}
.footer-bottom .social-icons{float:none}
.footer-bottom .custom-block{float:left !important;margin:0;}
.footer-bottom address{float:none;text-align:center}
#parallax_01 .parallax-content-15 img.quote{width:20px}
#parallax_01 .parallax-content-15 em{font-size:12px;margin:0 5px}
#parallax_01 .parallax-content-15 h2{font-size:35px;margin:4px 0 7px}
#parallax_01 .parallax-content-15 p{font-size:11px;margin:0}
#parallax_02{padding:50px 0}
#parallax_02 .parallax-content-15 em{font-size:12px}
#parallax_02 .parallax-content-15 .text-content h2{font-size:35px;letter-spacing:-2px}
#parallax_02 .parallax-content-15 .text-content p span{font-size:12px;padding-left:6px;display:block}
#parallax_02 .parallax-content-15 .text-content p a{font-size:10px;padding:6px 13px;margin-left:10px;margin-top:5px}
#parallax_03{padding:50px 0}
#parallax_03 .parallax-content-15 em{font-size:12px;margin:0;margin-left:1px}
#parallax_03 .parallax-content-15 .text-content h2{font-size:30px;letter-spacing:-1px}
#parallax_03 .parallax-content-15 .text-content p span{font-size:12px;padding-left:1px;display:block}
#parallax_03 .parallax-content-15 .text-content p a{font-size:10px;padding:6px 13px;margin-left:0;margin-top:5px}
#parallax_04 .parallax-content-15 img.quote{width:20px}
#parallax_04 .parallax-content-15 em{font-size:12px;margin:0 5px}
#parallax_04 .parallax-content-15 h2{font-size:22px;margin:4px 0 7px;letter-spacing:-1px}
#parallax_04 .parallax-content-15 p{font-size:10px}
#parallax_04 .parallax-content-15 a.btn.btn-default{font-size:10px;padding:5px 20px}
#banner-slider-demo-16 .text-content em{font-size:13px;margin:0;margin-bottom:-5px}
#banner-slider-demo-16 .text-content h2{font-size:40px;letter-spacing:0}
#banner-slider-demo-16 .text-content p{margin:0}
#banner-slider-demo-16 .text-content p span{font-size:14px;padding-left:2px}
#banner-slider-demo-16 .text-content p a{font-size:9px;padding:5px 11px;margin-left:5px;margin-top:5px}
.sticky-product .add-to-cart{position:static;margin:0;vertical-align:middle;display:inline-block}
.slide3-1-new-content em{font-size:9px}
.slide3-1-new-content h2{font-size:22px}
.slide3-1-new-content hr{margin:5px 0}
.slide3-1-new-content a{font-size:8px}
.img-desc-home3{margin-top:-88px;padding:0 25px}
.img-desc-home3 h3{font-size:24px}
.img-desc-home3 hr{width:90px;margin:15px 0}
.img-desc-home3 p{font-size:15px}
.img-desc-home3 a{font-size:15px}
#banner-slider-demo-2-new .slide-1 em{font-size:12px;margin:0;margin-left:1px}
#banner-slider-demo-2-new .slide-1 .text-content h2{font-size:30px;letter-spacing:-1px}
#banner-slider-demo-2-new .slide-1 .text-content p span{font-size:12px;padding-left:1px;display:block}
#banner-slider-demo-2-new .slide-1 .text-content a{font-size:10px;padding:6px 20px;margin-left:0;margin-top:10px}
#banner-slider-demo-2-new .slide-2 em{font-size:12px;margin:0;margin-left:1px}
#banner-slider-demo-2-new .slide-2 .text-content h2{font-size:30px;letter-spacing:-1px}
#banner-slider-demo-2-new .slide-2 .text-content p span{font-size:12px;padding-left:1px;display:block}
#banner-slider-demo-2-new .slide-2 .text-content a{font-size:10px;padding:6px 0;margin-left:0;margin-top:5px}
#banner-slider-demo-17 .slide-1 em{font-size:12px;margin:0;margin-left:1px}
#banner-slider-demo-17 .slide-1 .text-content h2{font-size:30px;letter-spacing:-1px}
#banner-slider-demo-17 .slide-1 .text-content p span{font-size:12px;padding-left:1px;display:block}
#banner-slider-demo-17 .slide-1 .text-content a{font-size:10px;padding:6px 20px;margin-left:0;margin-top:10px}
#banner-slider-demo-17 .slide-2 em{font-size:12px;margin:0;margin-bottom:2px}
#banner-slider-demo-17 .slide-2 .text-content h2{font-size:26px;letter-spacing:-1px}
#banner-slider-demo-17 .slide-2 .text-content p span{font-size:12px;display:block}
#banner-slider-demo-17 .slide-2 .text-content a{font-size:10px;padding:6px 20px;margin-left:0;margin-top:10px}
.compare-popup{display:none}
.store-switcher{text-align:center}
.product-img-box .etalage:hover + .etalage-control + .product-view-zoom-area{display:none}
a.quickview-icon{display:none}
.product-view .product-img-box .etalage-control{visibility:visible}
.product-view .product-img-box .etalage.vertical+.etalage-control a.etalage-prev{left:0}
.full-width-image{padding:100px 0}
.full-width-image > h3{font-size:35px;letter-spacing:-1px}
#home-content-slider-demo-20 .item > div.content > p{display:none}
#home-content-slider-demo-20 .item > div.content > a{display:none}
.ajax-products{display:block}
.ajax-products > .category-list{border-right:0}
.ajax-products > .category-list > ul > li{display:inline-block;margin-right:30px}
.ajax-products > .category-detail{padding-top:0}
.load-more-area > a,.full-width-image > a{font-size:8px;padding:10px 20px;margin:10px 0}
.banner-content-18 em{font-size:16.26px;}
.banner-content-18 .text-content h2{font-size:53.12px;}
.banner-content-18 .text-content p{margin:0}
.banner-content-18 .text-content p span{font-size:12.64px;}
.banner-content-18 .text-content p a{font-size:13px;padding:8px 16px;margin:0;background-color: white}
.sticky-product{display:none!important}
}
@media (max-width:640px) {
body.boxed .page{width:480px}
.owl-middle-narrow .owl-controls{display:none!important}
.homepage-grid-banner .grid1 .content h2{font-size:42.43px}
.homepage-grid-banner .grid1 .content p{font-size:17.68px;margin-bottom:6px;margin-right:2.4px}
.full-screen-slider .item > div.content > h2{font-size:36.17px;margin-bottom:10.8px}
.full-screen-slider .item > div.content > p{font-size:15.07px;margin-bottom:21px}
.full-screen-slider .item > div.content > a.btn-default{font-size:10px;padding:11px 32px;border-radius:5px}
.full-screen-slider .item > div.content.content-3{margin-top:-57px}
.owl-item-links-block{display:none}
.slide3-2-content em{font-size:10px;margin-left:1px;margin-bottom:1px}
.slide3-2-content h2{font-size:28px;margin-bottom:1px}
.slide3-2-content p{font-size:16px;margin-bottom:10px}
.slide3-2-content a{font-size:11px}
.slide3-2-content a>i{width:10px;height:10px;line-height:9px;font-size:9px;margin-bottom:1px;margin-left:4px}
#banner-slider-demo-1 .slide1-content img.quote{width:15px}
#banner-slider-demo-1 .slide1-content em{font-size:14px;margin:0 3px}
#banner-slider-demo-1 .slide1-content h2{font-size:38px;margin:1px 0 5px}
#banner-slider-demo-1 .slide1-content p{font-size:14px}
#banner-slider-demo-1 .slide2-content em{font-size:14px;margin-left:3px}
#banner-slider-demo-1 .slide2-content h2{font-size:39px;margin:0 0 5px}
#banner-slider-demo-1 .slide2-content p{font-size:8px;margin-left:4px;margin-bottom:15px}
#banner-slider-demo-1 .slide2-content p span.split{margin:0 7px 0 8px}
#banner-slider-demo-1 .slide2-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-right:1px}
#banner-slider-demo-1 .slide3-content em{font-size:14px}
#banner-slider-demo-1 .slide3-content h2{font-size:38px;margin-bottom:8px}
#banner-slider-demo-1 .slide3-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-right:1px}
#banner-slider-demo-14 .slide1-content img.quote{width:15px}
#banner-slider-demo-14 .slide1-content em{font-size:14px;margin:0 3px}
#banner-slider-demo-14 .slide1-content h2{font-size:30px;margin:1px 0 3px}
#banner-slider-demo-14 .slide1-content p{font-size:12px}
#banner-slider-demo-14 .slide2-content em{font-size:12px;margin-left:2px}
#banner-slider-demo-14 .slide2-content h2{font-size:30px;margin:0 0 3px}
#banner-slider-demo-14 .slide2-content p{font-size:5px;margin-left:4px;margin-bottom:10px}
#banner-slider-demo-14 .slide2-content p span.split{margin:0 7px 0 8px}
#banner-slider-demo-14 .slide2-content a.btn-default{font-size:8px;width:60px;height:18px;line-height:18px;padding:0;margin-right:1px}
#banner-slider-demo-14 .slide3-content em{font-size:12px}
#banner-slider-demo-14 .slide3-content h2{font-size:30px;margin-bottom:5px}
#banner-slider-demo-14 .slide3-content a.btn-default{font-size:8px;width:60px;height:18px;line-height:18px;padding:0;margin-right:1px}
#banner-slider-demo-13 .slide1-content img.quote{width:15px}
#banner-slider-demo-13 .slide1-content em{font-size:14px;margin:0 3px}
#banner-slider-demo-13 .slide1-content h2{font-size:38px;margin:1px 0 5px}
#banner-slider-demo-13 .slide1-content p{font-size:14px}
#banner-slider-demo-13 .slide2-content em{font-size:14px;margin-left:3px}
#banner-slider-demo-13 .slide2-content h2{font-size:39px;margin:0 0 5px}
#banner-slider-demo-13 .slide2-content p{font-size:8px;margin-left:4px;margin-bottom:15px}
#banner-slider-demo-13 .slide2-content p span.split{margin:0 7px 0 8px}
#banner-slider-demo-13 .slide2-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-right:1px}
#banner-slider-demo-13 .slide3-content em{font-size:14px}
#banner-slider-demo-13 .slide3-content h2{font-size:38px;margin-bottom:8px}
#banner-slider-demo-13 .slide3-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-right:1px}
.footer-container.fixed-position .footer-bottom address{display:none}
.footer-container.fixed-position .footer-bottom{text-align:center}
.footer-container.fixed-position .footer-bottom .social-icons{display:inline-block;float:none}
.header-container .top-links-icon{display:inline-block}
.category-boxed-banner .banner-text a.shop-now{margin-left:10px;font-size:9px}
.full-width-image-banner{height:200px}
.full-width-image-banner .content{margin-top:-16px}
.full-width-image-banner h2{margin:0;font-size:30px;line-height:1.1}
.full-width-image-banner p{display:none}
#banner-slider-demo-11 .content-1{padding:11px 7px 5px;margin-left:-53px;margin-top:-32px}
#banner-slider-demo-11 .content-1>div:first-child{padding-right:2px}
#banner-slider-demo-11 .content-1 p{font-size:7px;margin-left:2px}
#banner-slider-demo-11 .content-1 h3{font-size:22px}
#banner-slider-demo-11 .content-1 h3 b{margin-top:-6px}
#banner-slider-demo-11 .content-1 em{font-size:6px;margin-right:1px}
#banner-slider-demo-11 .content-1 h4{font-size:12px}
#banner-slider-demo-11 .content-1 h5{font-size:6px;margin-top:-1px}
#banner-slider-demo-11 .content-2{right:8px;bottom:8px}
#banner-slider-demo-11 .content-2>div{padding:3px 6px}
#banner-slider-demo-11 .content-2>div:first-child{margin:-1px 0;padding-left:9px}
#banner-slider-demo-11 .content-2 p{font-size:7px;margin-left:1px}
#banner-slider-demo-11 .content-2 h3{font-size:16px}
#banner-slider-demo-11 .content-2 em{font-size:6px;margin-right:1px}
#banner-slider-demo-11 .content-2 h4{font-size:12px}
#banner-slider-demo-11 .content-2 h5{font-size:6px;margin-top:-1px}
#banner-slider-demo-11 .content-2 a{font-size:6px;margin-right:-3px}
.banner-content-18 .text-content p a{font-size:12px;padding:5px 10px;}
.checkout-progress li{width:49%}
.category-products .products-grid.flex-grid .item .details-area .actions a.addtocart{padding:0;width:40px}
.category-products .products-grid.flex-grid .item .details-area .actions a.addtocart span{display:none}
}
@media (max-width:480px) {
.category-products .products-grid.flex-grid .item .details-area .actions{margin:0 -10px}
.item .details-area .actions a.addtowishlist,.item .details-area .actions a.comparelink{display:none}
body.boxed .page{width:320px}
.add-to-cart button.button{width:110px}
.add-to-cart button.button span{font-size:11px}
.toolbar .pager{clear:both;}
.sorter .view-mode{float:right;margin-right:-3px;}
.sorter .limiter{float:left}
.pager .pages{float:left}
.col-main .category-products .products-list li.item .item-area{text-align:center}
.products-list .product-image-area{width:280px;display:inline-block;float:none}
.products-list .details-area{margin-left:0;text-align:left}
.category-banner .banner-text h2{font-size:14px}
.category-boxed-banner .banner-text h2{font-size:14px}
.col1-layout .product-view .product-info{float:none;width:auto;border-bottom:1px solid #ebebeb}
.col1-layout .product-options{float:none;width:auto;border-bottom:1px solid #ebebeb}
.col1-layout .product-view .product-options + div.clearer,.col1-layout .product-view .product-info + div.clearer{border:0}
.homepage-grid-banner .grid1 .content h2{font-size:25px}
.homepage-grid-banner .grid1 .content p{font-size:17.68px;margin-bottom:6px;margin-right:2.4px}
.slider-with-side .slider-area .item .content .text-area p{display:none}
.slider-with-side .slider-area .item .content .ribbon{right:3px;top:1px}
.slider-with-side .slider-area .item .content .ribbon em{font-size:6px;margin-right:22px}
.slider-with-side .slider-area .item .content .ribbon h3{font-size:14px;margin-right:2px}
.slider-with-side .slider-area .item .content .ribbon h5{font-size:6px;margin-top:-1px}
.slide3-1-content p{margin-bottom:3px;font-size:8px}
.slide3-1-content h2{font-size:17px;margin-bottom:10px}
.slide3-1-content .price-area em{font-size:7px}
.slide3-1-content .price-area em:first-child{margin-bottom:-2px}
.slide3-1-content .price-area h3{font-size:21px}
.slide3-1-content .button-area{padding-left:10px;margin-left:10px}
.slide3-1-content a.btn-default{height:28px;font-size:11px;line-height:28px;padding:0 13px 0 15px;border-radius:3px}
.slide3-1-content a.btn-default i{width:12px;height:12px;line-height:11px;font-size:9px;margin-bottom:2px;margin-left:8px}
.slide3-2-content em{font-size:8px;margin-left:0;margin-bottom:0}
.slide3-2-content h2{font-size:20px;margin-bottom:0}
.slide3-2-content p{font-size:12px;margin-bottom:5px}
.slide3-2-content a{font-size:11px}
.slide3-2-content a>i{width:10px;height:10px;line-height:9px;font-size:9px;margin-bottom:1px;margin-left:4px}
.parallax-wrapper.parallax-with-subscribe .parallax-slider p{display:none}
.parallax-wrapper.parallax-with-subscribe .parallax-subscribe{margin-top:20px}
.header-container.type1 .header .form-search,.header-container.type2 .header .form-search,.header-container.type3 .header .form-search,.header-container.type4 .header .form-search,.header-container.type5 .header .form-search,.header-container.type6 .header .form-search,.header-container.type22 .header .form-search,.header-container.type14 .header .form-search,.header-container.type7 .header .form-search,.header-container.type13 .header .form-search,.header-container.type26 .header .form-search,.header-container.type8 .header .form-search,.header-container.type17 .header .form-search,.header-container.type9 .header .form-search,.header-container.type10 .header .form-search,.header-container.type28 .header .form-search,.header-container.type20 .header .form-search,.header-container.type21 .header .form-search{width:300px}
.ratings-table.data-table thead{display:none}
.ratings-table.data-table tbody td{padding:15px 5px}
.buttons-set button.button{float:none;width:100%;margin:0 0 5px}
.parallax-category-banner .parallax{padding:30px 0}
.parallax-content h2{font-size:25px}
.parallax-content p{font-size:11px}
.footer-bottom .custom-block{margin-left:0}
.footer-bottom address{float:left;line-height:1.4;margin:5px 0}
.full-width-image-banner{height:150px}
.full-width-image-banner .content{margin-top:-13px}
.full-width-image-banner h2{margin:0;font-size:24px;line-height:1.1}
.full-width-image-banner p{display:none}
.footer-top-subscribe .input-box{text-align:left;max-width:100%}
#banner-slider-demo-16 .text-content em{font-size:10px;margin-bottom:0}
#banner-slider-demo-16 .text-content h2{font-size:25px;letter-spacing:0}
#banner-slider-demo-16 .text-content p{margin:0}
#banner-slider-demo-16 .text-content p span{font-size:12px;padding-left:1px;display:block}
#banner-slider-demo-16 .text-content p a{font-size:9px;padding:5px 11px;margin-left:0;margin-top:5px;float:left!important}
.top-newsletter{display:none}
.product-tabs>ul li{display:block;float:none}
#home-content-slider-demo-20 .item > div.content{max-width:50%}
.offer-deal .item .content h3 a{font-size: 30px;line-height: 25px;}
.offer-deal .item .content p{font-size: 16px;line-height: 25px;}
.offer-deal .item .content .btn-default {font-size: 11px;padding: 8px 12px;margin-top: 5px;}
.sorter .limiter label {
    min-width: 45.14px;
    display: inline-block;
}
.banner-content-18 .text-content p a{font-size:10px;padding:3px 6px;}
}
@media (min-width:992px) {
.category-products .products-grid.flex-grid.columns2 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns2 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns3 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns3 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns3 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns4 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns4 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns4 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(4) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(5) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(4) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(5) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(4) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(5) .item-area{border-top-color:transparent}
}
@media (min-width:1200px) {
.col-xl-2-4{width:20%}
.col-xl-9-6{width:80%}
.category-products .products-grid.flex-grid.columns2 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns2 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns3 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns3 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns3 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns4 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns4 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns4 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns4 li.item:nth-child(4) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(4) .item-area,.category-products .products-grid.flex-grid.columns5 li.item:nth-child(5) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(4) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(5) .item-area,.category-products .products-grid.flex-grid.columns6 li.item:nth-child(6) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(4) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(5) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(6) .item-area,.category-products .products-grid.flex-grid.columns7 li.item:nth-child(7) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(1) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(2) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(3) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(4) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(5) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(6) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(7) .item-area,.category-products .products-grid.flex-grid.columns8 li.item:nth-child(8) .item-area{border-top-color:transparent}
}
@media screen and(-ms-high-contrast: active),(-ms-high-contrast: none) {
.rating-box{width:65px;height:12px;font-size:0;line-height:0;text-indent:-999em;overflow:hidden;position:relative}
.rating-box:before{font-family:"porto";content:"\e852\20\e852\20\e852\20\e852\20\e852";width:65px;height:12px;color:#ddd;display:inline;font-size:11px;line-height:12px;white-space:nowrap}
.rating-box .rating{float:left;height:12px;position:absolute;left:0;top:0;overflow:hidden}
.rating-box .rating:before{font-family:"porto";content:"\e852\20\e852\20\e852\20\e852\20\e852";width:65px;height:12px;color:#ffc600;display:inline;font-size:11px;line-height:12px;white-space:nowrap}
}
@media (min-width: 576px) {
    .fullwidth-row  {
        width: 100vw;
        margin-left: calc(255px - 50vw);
    }
}
@media (min-width: 768px) {
    .fullwidth-row  {
        width: 100vw;
        margin-left: calc(345px - 50vw);
    }
}
@media (min-width: 992px){
    .fullwidth-row  {
        width: 100vw;
        margin-left: calc(465px - 50vw);
    }
}
@media (min-width: 1200px) {
    .fullwidth-row  {
        width: 100vw;
        margin-left: calc(555px - 50vw);
    }
}
@media (max-width: 575px) {
    .fullwidth-row  {
        width: 100vw;
        margin: 0 -15px;
    }
}
body.full-width .fullwidth-row {
    width: auto;
    margin: 0 -20px;
}
a.right-side-open {
    position: fixed;
    right: 0;
    top: 22%;
    display: block;
    font-size: 23px;
    color: #818181;
    line-height: 49px;
    z-index: 9;
    width: 51px;
    height: 49px;
    background-color: #f5f5f5;
    border: #dcdcda solid 1px;
    border-right: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.2s;
    visibility: hidden;
}
@media (max-width: 991px) {
    .catalog-product-view .col2-right-layout .col-right.sidebar {
        position: fixed !important;
        background: #fff;
        z-index: 999;
        padding: 20px 5px;
        top: 0 !important;
        height: 100vh;
        overflow-y: auto;
        right: 0;
        max-width: 100%;
        width: 280px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        border: 1px solid #d2d2d2;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }
    .catalog-product-view .col2-right-layout .col-right.sidebar.open {
        opacity: 1;
        visibility: visible;
    }

    .catalog-product-view .col2-right-layout .col-main {
        -webkit-flex: 0 0 100%;
        -moz-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .catalog-product-view .col2-right-layout .col-right.sidebar.open+.mobile-layer-overlay {
        opacity: 0.2;
        visibility: visible;
        filter: alpha(opacity=100);
    }

    a.right-side-open {
        visibility: visible;
        opacity: 1;
    }
}
@media (max-width: 1199px) {
    .col1-layout .product-view.carousel .product-shop .product-options-bottom, .col1-layout .product-view.carousel .add-to-box {
        border-bottom: 0;
    }
}
@media (max-width: 991px) {
    .product-view.carousel .product-options, .product-view.carousel .product-options-bottom {
        display: block;
    }
    .catalog-category-view .sidebar {
        top: 0 !important;
    }
}
@media (max-width: 767px) {
    .product-view.carousel .short-custom-block {
        float: none;
    }
    .product-view.carousel .short-custom-block .custom-block-1>div, .product-view.sticky_right .short-custom-block .custom-block-1>div {
        display: block;
        margin: 0;
    }
    .product-view.carousel .product-options .swatch-attr {
        display: block;
        margin-bottom: 10px;
    }
}
@media(min-width: 768px) {
    .product-view.wide_grid .product-tabs>ul {width: 25%;border: 0;}
    .product-view.wide_grid .product-tabs>ul li {display: block;float: none;margin-right: 37px;text-align: left;border-bottom: 1px solid #ebebeb;margin-bottom: 5px;}
    .product-view.wide_grid .product-tabs.vertical .tab-content {margin-left: 25%;border: 0;padding: 0;}
    .product-view.wide_grid .product-tabs>ul li a {margin-right: 0;margin-bottom: -1px;}
    .product-view.wide_grid .product-tabs>ul li.active a {display: inline-block;}
}
/* Mobile devices */
@media only screen and (max-width:1024px) {
	.column.hp-cat-block {width:88%;padding-top:1px;height:auto;margin-bottom:10px}
	.column.hp-cat-block .app-icon {background-position-y:30%}
}
@media(max-width:767px){
	#banner-slider-demo-13 .slide1-content .content-area .text1 {font-size:10px;}
	#banner-slider-demo-13 .slide1-content .content-area .text1 .inner1 {font-size:35px;}
	#banner-slider-demo-13 .slide1-content .content-area .text1 .inner2 {top:18px;font-size:13px;}
	#banner-slider-demo-13 .slide1-content .content-area .text1 .inner3 {font-size:10px;}
	#banner-slider-demo-13 .slide1-content .content-area .text2 {font-size:40px;margin-top:10px;}
	#banner-slider-demo-13 .slide1-content .content-area .text3 {font-size:10px;margin-bottom:15px;}
	#banner-slider-demo-13 .slide1-content .content-area .btn-default {padding:8px 10px;font-size:12px;}
	#banner-slider-demo-13 .slide2-content .content-area .text1 {font-size:40px;margin-bottom:10px;}
	#banner-slider-demo-13 .slide2-content .content-area .text2 {font-size:33px;margin:0 0 7px;}
	#banner-slider-demo-13 .slide2-content .content-area .text3 {font-size:10px;margin:0 0 13px;}
	#banner-slider-demo-13 .slide2-content .content-area .btn-default {padding:8px 10px;font-size:11px;}
	#banner-slider-demo-13 .owl-controls {display:none!important;}
	.hp-cat-block .app-icon {width:340px;height:480px;border-top-left-radius:40px;border-top-right-radius:40px;border-bottom-left-radius:40px; border-bottom-right-radius:40px;}
	.hp-cat-block .app-icon h2 {font-size:16px;}
}
@media(max-width:320px){
	#banner-slider-demo-13 .slide1-content .content-area .text1 .inner1 {font-size:33px;}
	#banner-slider-demo-13 .slide1-content .content-area .text2 {font-size:34px;margin-top:7px;}
	#banner-slider-demo-13 .slide1-content .content-area .text3 {font-size:9px;margin-bottom:12px;}
	#banner-slider-demo-13 .slide1-content .content-area .btn-default {padding:7px 9px;font-size:10px;}
	#banner-slider-demo-13 .slide2-content .content-area .text1 {font-size:33px;margin-bottom:10px;}
	#banner-slider-demo-13 .slide2-content .content-area .text2 {font-size:30px;margin:0 0 7px;text-shadow:3px 2px #92a9b3;}
	#banner-slider-demo-13 .slide2-content .content-area .btn-default {padding:7px 9px;font-size:10px;}
	.hp-cat-block .app-icon {width:300px;height:450px}
	.hp-cat-block .app-icon h2 {font-size:15px;}
}
@media(min-width:1921px){
	.collection-home-banner {height:724px;}
	.collection-home-banner .banner-content-18 .text-content .btn-default {margin:330px 0 0 -30px}
	.collection-home-banner .banner-content-18 .text-content .btn-default.second {margin:330px 0 0 80px}
}
@media(max-width:1920px){
	.collection-home-banner {height:650px;}
	.collection-home-banner .banner-content-18 .text-content .btn-default {margin:250px 0 0 120px}
	.collection-home-banner .banner-content-18 .text-content .btn-default.second {margin:270px 0 0 100px}
	.main-banner-button {margin-left:52px}
}
@media(max-width:1600px){
	.homepage-slide-banner {height:527px}
	.collection-home-banner {height:520px}
	.banner-content-18 .text-content p a {margin:0}
	.homepage-slide-banner .banner-content-18 .text-content > p {padding-top:470px;margin-left:-80px}
	.collection-home-banner .banner-content-18 .text-content .btn-default {margin-left:180px;margin-top:160px}
	.collection-home-banner .banner-content-18 .text-content .btn-default.second {margin-left:30px;margin-top:160px}
}
@media(max-width:1440px){
	.homepage-slide-banner {height:507px}
	.collection-home-banner {height:500px}
	.banner-content-18 .text-content p a {margin:0;font-size:15px}
	.homepage-slide-banner .banner-content-18 .text-content > p {padding-top:437px;margin-left:-100px}
	.collection-home-banner .banner-content-18 .text-content .btn-default {margin-left:180px;margin-top:130px}
	.collection-home-banner .banner-content-18 .text-content .btn-default.second {margin-left:20px;margin-top:130px}
}
@media(max-width:1380px){
	.homepage-slide-banner {height:477px}
	.collection-home-banner {height:470px}
	.banner-content-18 .text-content p a {margin:0;padding:9px 35px}
	.homepage-slide-banner .banner-content-18 .text-content > p {padding-top:417px;margin-left:-100px}
	.collection-home-banner .banner-content-18 .text-content .btn-default {margin-left:160px;margin-top:110px}
	.collection-home-banner .banner-content-18 .text-content .btn-default.second {margin-left:20px;margin-top:110px}
}
@media(max-width:1280px){
	.homepage-slide-banner {height:417px}
	.collection-home-banner {height:380px}
	.banner-content-18 .text-content p a {margin:0;padding:8px 35px;font-size:14px}
	.homepage-slide-banner .banner-content-18 .text-content > p {padding-top:367px;margin-left:-100px}
	.collection-home-banner .banner-content-18 .text-content .btn-default {margin-left:140px;margin-top:90px}
	.collection-home-banner .banner-content-18 .text-content .btn-default.second {margin-left:20px;margin-top:90px}
}
@media(max-width:1024px){
	.homepage-slide-banner,
	.collection-home-banner {height:387px}
	.banner-content-18 {padding-top:270px}
	.banner-content-18 .text-content p a {margin:0;padding:6px 35px;font-size:13px}
	.homepage-slide-banner .banner-content-18 .text-content > p {padding-top:333px;margin-left:-100px}
	.collection-home-banner .banner-content-18 .text-content .btn-default {margin-left:30px;margin-top:0}
	.collection-home-banner .banner-content-18 .text-content .btn-default.second {margin-left:0;margin-top:0}
}
@media(max-width:768px){
	.homepage-slide-banner,
	.collection-home-banner {height:327px}
	.homepage-slide-banner .banner-content-18 .text-content > p {padding-top: 280px}
	.collection-home-banner .banner-content-18 .text-content .btn-default {margin-left:-30px;margin-top:0}
	.collection-home-banner .banner-content-18 .text-content .btn-default.second {margin-left:0;margin-top:0}
    .info-boxes .home-info-box {height: 200px;margin-bottom: 10px}
    .info-boxes .home-info-box .text-content h2 {font-size: 20px;margin-bottom:9px;margin-top:9px}
    .info-boxes .home-info-box .text-content h3 {font-size: 17px}
    .info-boxes .home-info-box .text-content p {font-size:16px;margin-bottom: 3px}
	.info-boxes .promo-home-box {height:200px}
	.info-boxes .promo-home-box > .text-content {height:100px;text-align: center; padding-top:40px}
}
@media(max-width:746px){
	.banner-content-18 {padding:3px;}
	.collection-home-banner {height:222px}
	.homepage-slide-banner {height:222px}
	.homepage-slide-banner .banner-content-18 .text-content > p {padding-top:97px;margin-left:110px;}
	.banner-content-18.block-odd .col-md-6 {display: none;}
	.banner-content-18 .text-content p a,
	.collection-home-banner .btn-default.second {margin:160px 0 0;}
}
@media(max-width:480px){
	.homepage-slide-banner {height:142px}
}
@media(max-width:414px){
	.homepage-slide-banner {height:160px}
	.collection-home-banner {height:178px}
	.banner-content-18 .text-content p a {margin:0;padding:3px 15px;font-size:10px}
	.homepage-slide-banner .banner-content-18 .text-content > p {padding-top:124px;margin-left:-70px;}
	.collection-home-banner .banner-content-18 .text-content .btn-default {margin-left:-210px;margin-top:120px}
	.collection-home-banner .banner-content-18 .text-content .btn-default.second {margin-left:120px;margin-top:120px}

	h3.fullwidth-filter-title {font-size:16px}
    .header-container.type19 .logo {margin-left:50px}
}
@media(max-width:375px){
	.homepage-slide-banner {height:140px}
	.collection-home-banner {height:158px}
	.banner-content-18 .text-content p a {margin:0;padding:3px 15px;font-size:10px}
	.homepage-slide-banner .banner-content-18 .text-content > p {padding-top:114px;margin-left:-70px;}
	.collection-home-banner .banner-content-18 .text-content .btn-default {margin-left:-210px;margin-top:110px}
	.collection-home-banner .banner-content-18 .text-content .btn-default.second {margin-left:120px;margin-top:110px}
}
@media(max-width:320px){
	.homepage-slide-banner {height:120px}
	.collection-home-banner {height:138px}
	.banner-content-18 .text-content p a {margin:0;padding:3px 15px;font-size:10px}
	.homepage-slide-banner .banner-content-18 .text-content > p {padding-top:94px;margin-left:-70px;}
	.collection-home-banner .banner-content-18 .text-content .btn-default {margin-left:-180px;margin-top:90px}
	.collection-home-banner .banner-content-18 .text-content .btn-default.second {margin-left:120px;margin-top:90px}

	h3.fullwidth-filter-title {font-size:13px}
    .info-boxes .home-info-box {height: 160px}
    .info-boxes .home-info-box .text-content h2 {font-size:18px}
    .info-boxes .home-info-box .text-content h3 {font-size:15px}
    .info-boxes .home-info-box .text-content p {font-size:13px;margin-bottom:3px}
	.info-boxes .promo-home-box {height:180px}
	.info-boxes .promo-home-box > .text-content {height:70px;text-align:center; padding-top:35px}
}
