
.icon-basket:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-user-outline:before { content: '\e804'; } /* '' */
.icon-search-1:before { content: '\e805'; } /* '' */
.icon-search-2:before { content: '\e806'; } /* '' */
.icon-search-3:before { content: '\e807'; } /* '' */
.icon-basket-1:before { content: '\e808'; } /* '' */
.icon-basket-alt:before { content: '\e809'; } /* '' */