/**
 * Karlsbach Styles
 */
.qTipOverStyle {
    border-color: #b4973f;
    background-color: #efcf50;
}

.store-switcher {float:left;margin:0 20px 0 5px}
.store-switcher #select-store {background: transparent;border:0px;color: #fff;font-size: 12px;outline: 0;background-image: none;}
.store-switcher #select-store option {color: #000;padding:0 20px;border: 0 !important;}
.product-image, .no-touch .product-img-box .product-image:not(.zoom-available):hover { border: none;}
.block-layered-nav .block-content > dl > dt { border: none;}
.block-layered-nav .block-content > dl > dd   { border: none;}
