<?php $_product = Mage::registry('current_product'); ?>
<?php $_associatedProducts = $this->getAssociatedProducts(); ?>
<div id="group-image">
    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'belvg_lookbook_image') ?>" width="100%" />
<?php foreach ($_associatedProducts as $_item): ?>
    <div class="group-plus" id="plus_<?php echo $_item->getEntityId() ?>" data-productid="<?php echo $_item->getEntityId() ?>" style="left:20px;top:20px;" data-pos-x="<?php echo $_item->getPositions()->getPosX(); ?>" data-pos-y="<?php echo $_item->getPositions()->getPosY(); ?>"></div>
    <canvas class="group-canvas" id="canvas_<?php echo $_item->getEntityId() ?>" data-product-id="<?php echo $_item->getEntityId() ?>" width="100%"></canvas>
<?php endforeach; ?>

</div>

<div class="group-prod-items-container" width="100%">
<?php foreach ($_associatedProducts as $_item): ?>
<div class="group-prod-image" id="image_<?php echo $_item->getEntityId() ?>" data-productid="<?php echo $_item->getEntityId() ?>">
    <?php if ($image = $this->getItemImage($_item)): ?>
    <div class="img">
        <img src="<?php echo $image ?>" />
    </div>
    <?php endif; ?>
    <div class="desc">
        <div><strong><?php echo $_item->getName() ?></strong></div>
        <div><?php echo 'SKU: ' . $_item->getSku() ?></div>
        <div><?php echo 'Price: ' . $_item->getFinalPrice() ?></div>
    </div>
</div>
<?php endforeach; ?>
</div>
<div style="display:none;">
<?php foreach ($_associatedProducts as $_item): ?>
    <input id="positionX_<?php echo $_item->getEntityId() ?>" name="associated_products[<?php echo $_item->getEntityId() ?>][pos_x]" value="<?php echo $_item->getPositions()->getPosX(); ?>" />
    <input id="positionY_<?php echo $_item->getEntityId() ?>" name="associated_products[<?php echo $_item->getEntityId() ?>][pos_y]" value="<?php echo $_item->getPositions()->getPosY(); ?>" />
    <input class="map_input" data-productid="<?php echo $_item->getEntityId() ?>" id="map_<?php echo $_item->getEntityId() ?>" name="associated_products[<?php echo $_item->getEntityId() ?>][map]" value="<?php echo $_item->getPositions()->getMap(); ?>"/>
<?php endforeach; ?>
</div>



<script>
    $$('.group-plus').each( function(m){
        m.hide();
    });
    $$('.group-prod-image').each( function(el){
        el.observe('click', function(k){
            canvasInit();
            $$('.group-prod-image').each( function(m){
                m.removeClassName('selected');
            });
            $$('.group-plus').each( function(m){
                m.hide();
            });
            jQblvg('#plus_'+jQblvg(el).attr('data-productid')).show();
            jQblvg('.group-canvas').hide();
            jQblvg('#canvas_'+jQblvg(el).attr('data-productid')+' canvas').attr('width', jQblvg('#group-image').width()).attr('height', jQblvg('#group-image').height());
            jQblvg('#canvas_'+jQblvg(el).attr('data-productid')).show();
            el.addClassName('selected');
            repositionElements();
        });
    });

    
    
jQblvg('.group-plus').draggable({ 
    containment: "#group-image", 
    scroll: false,
    stop: function() {
        tmp_el = jQblvg(this);
        currentY = (jQblvg(this).position().top + jQblvg(this).height() / 2) / jQblvg('#group-image').height();
        currentX = (jQblvg(this).position().left + jQblvg(this).width() / 2) / jQblvg('#group-image').width();
        jQblvg('#positionX_'+tmp_el.attr('data-productid')).attr('value', currentX);
        jQblvg('#positionY_'+tmp_el.attr('data-productid')).attr('value', currentY);
        //console.log(currentX+':'+currentY);
    }
}).addClass('ui-widget-content');
repositionElements();
jQblvg(window).resize( function(){
    repositionElements();
});


jQblvg(document).ready( function(){
    // setTimeout( function(){
        //jQblvg('#group-image canvas').attr('width', '400').attr('height', '300');
        //jQblvg('.canvas-area[data-image-url]').canvasAreaDraw();
    //},1500);
    //convertToPixels();
    jQblvg('#group-image canvas').each( function(){
        id = jQblvg(this).attr('data-product-id');
        jQblvg(this).canvasArea({'input_selector':'#map_'+id});
    });
    //var canvasObject = jQblvg(".canvas-area[data-image-url]").canvasAreaDraw();
});

function convertToPercents()
{
    jQblvg('.group-canvas').each( function(){
        id = jQblvg(this).attr('data-productid');
        tmp = jQblvg(this).find('input').val();
        coords_array = tmp.split(',');
        console.log(coords_array);
        new_array = [];
        for (var i=0; i<coords_array.length; i++) {
            new_array.push( coords_array[i]/jQblvg('#group-image img').width() );
            i++;
            new_array.push( coords_array[i]/jQblvg('#group-image img').height() );
        }
        //console.log(new_array);
        jQblvg('#map_'+id).val(new_array.join());
    });

}

function convertToPixels()
{
    jQblvg('.map_input').each( function(){
        id = jQblvg(this).attr('data-productid');
        tmp = jQblvg(this).val();
        percents_array = tmp.split(',');
        //console.log(percents_array);
        new_array = [];
        for (var i=0; i<percents_array.length; i++) {
            new_array.push( parseInt(percents_array[i]*jQblvg('#group-image img').width()) );
            i++;
            new_array.push( parseInt(percents_array[i]*jQblvg('#group-image img').height()) );
        }
        //console.log(new_array);
        jQblvg('#canvas_'+id+' input').attr('value',new_array.join());
    });

}

var canvasInitFlag = false;
function canvasInit()
{
    convertToPixels();
    if (!canvasInitFlag) {
        //jQblvg(".canvas-area[data-image-url]").canvasAreaDraw();
        canvasInitFlag = true;
    }

}

function repositionElements()
{
    jQblvg('.group-plus').each( function(){
        id = jQblvg(this).attr('data-productid');
        newX = jQblvg('#positionX_'+id).attr('value') * jQblvg('#group-image').width() - (jQblvg(this).width() / 2);
        newY = jQblvg('#positionY_'+id).attr('value') * jQblvg('#group-image').height() - (jQblvg(this).height() / 2);
        jQblvg(this).css({left: newX+'px', top: newY+'px'});
    });
}
</script>