<?php
/**
 * BelVG LLC.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 *
 *******************************************************************
 * @category   Belvg
 * @package    Belvg_Lookbook
 * @version    1.0.0
 * @copyright  Copyright (c) 2010 - 2012 BelVG LLC. (http://www.belvg.com)
 * @license    http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 */
$this->setPreconfiguredValue();
$_product = $this->getProduct();
$_associatedProducts = $this->getAssociatedProducts();
$_taxHelper  = $this->helper('tax');
$_coreHelper = $this->helper('core');
$styleConfig = $this->getStyleConfig();
?>
<style>
.nyroModalCont {
    background: #<?php echo $styleConfig['popup_background_color']; ?>;
    border: <?php echo $styleConfig['popup_border_width']; ?>px solid #<?php echo $styleConfig['popup_border_color']; ?>;
    border-radius: <?php echo $styleConfig['popup_border_radius']; ?>px;
    padding: <?php echo $styleConfig['popup_padding']; ?>px;
    box-shadow: <?php echo $styleConfig['popup_shadow']; ?>;
}
.nyroModalDom {
    padding: <?php echo $styleConfig['popup_padding']; ?>px;
}
.nyroModalBg {
    background: #<?php echo $styleConfig['popup_overlay_color']; ?>;
}
.group-item-container-name {
    background-color: rgba(<?php echo $this->getMarkerDescBg() ?>);
    border: <?php echo $styleConfig['marker_border_width']; ?>px solid #<?php echo $styleConfig['marker_border_color']; ?>;
    border-radius: <?php echo $styleConfig['marker_border_radius']; ?>px;
    color: #<?php echo $styleConfig['marker_text_color']; ?>;
    padding: <?php echo $styleConfig['marker_text_padding'] ?>px;
    text-align: center;
    font: <?php echo $styleConfig['marker_font']; ?>;
    text-shadow: <?php echo $styleConfig['marker_text_shadow']; ?>;
}
/*.nyroModalCont .product-name a{
    font: <?php //echo $styleConfig['popup_name_font']; ?>;
    color: #<?php //echo $styleConfig['popup_name_font_color']; ?>; 
}*/
.group-plus .number {
    background: url("<?php echo $this->getTooltipImageUrl() ?>") no-repeat scroll;;
    height: <?php echo $this->getTooltipHeight() ?>px;
    width: <?php echo $this->getTooltipWidth() ?>px;
    font: <?php echo $styleConfig['tooltip_font']; ?>;
    color: #<?php echo $styleConfig['tooltip_text_color']; ?>;
    text-shadow: <?php echo $styleConfig['tooltip_text_shadow']; ?>;
    <?php echo $styleConfig['tooltip_position']; ?>: -<?php echo $this->getTooltipHeight() ?>px;
    left: <?php echo $styleConfig['tooltip_hor_offset'] ?>px;
    padding-top: <?php echo $styleConfig['tooltip_padding_top']; ?>px;
}
<?php if ($this->getImagePosition() == 'top'): ?>
.product-view .product-shop {
    width: 100%;
}
.product-view .add-to-cart-wrapper {
    width: 100%;
}
<?php endif; ?>
<?php if ($customstyles = $this->getCustomStyles()): ?>
<?php echo $customstyles; ?>
<?php endif; ?> 
</style>
<script>
jQblvg(document).ready(function() {
    lookbook.animation_speed = <?php echo $this->getAnimationSpeed() ?>;
    lookbook.marker_type = '<?php echo $this->getMarkerType() ?>';
    lookbook.marker_width = <?php echo $this->getMarkerWidth() ?>;
    lookbook.marker_height = <?php echo $this->getMarkerHeight() ?>;
    lookbook.popup_close_image = '<?php echo $this->getCloseImage() ?>';
    lookbook.popup_close_button = <?php echo $this->isCloseButtonEnabled()?'true':'false' ?>;
    lookbook.popup_duration = <?php echo $styleConfig['popup_duration'] ?>;
    lookbook.popup_overlay_opacity = <?php echo $styleConfig['popup_overlay_opacity'] ?>;
    lookbook.mapster_enabled = <?php echo $this->isMapsterEnabled()?'true':'false' ?>;
    lookbook.mapster_fillOpacity = <?php echo $styleConfig['mapster_fill_opacity'] ?>;
    lookbook.mapster_fillColor = '<?php echo $styleConfig['mapster_fill_color'] ?>';
    lookbook.mapster_strokeColor = '<?php echo $styleConfig['mapster_stroke_color'] ?>';
    lookbook.mapster_strokeOpacity = <?php echo $styleConfig['mapster_stroke_opacity'] ?>;
    lookbook.mapster_strokeWidth = <?php echo (int)$styleConfig['mapster_stroke_width'] ?>;
    lookbook.mapster_fade = <?php echo $styleConfig['mapster_fade']?'true':'false' ?>;
    lookbook.mapster_fadeDuration = <?php echo ($styleConfig['mapster_fade'])?((int)$styleConfig['mapster_fade_duration']):'0' ?>;
    lookbook.popup_content_width = <?php echo (int)$styleConfig['popup_image_width'] ?>;
    lookbook.popup_content_height = <?php echo (int)$styleConfig['popup_image_height'] ?>;
    lookbook.init();
});
</script>
<div id="group-image">
    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'belvg_lookbook_image') ?>" width="100%" usemap="#items" class="group-image"/>
    <?php foreach ($_associatedProducts as $_item): ?>
    <?php $itemId = $_item->getEntityId(); ?>
	<div class="group-item-wrap" id="group_item_wrap_<?php echo $itemId ?>" data-product-id="<?php echo $itemId ?>">
        <div class="group-item-container" id="group_item_container_<?php echo $itemId ?>" data-product-id="<?php echo $itemId ?>"> 
            <span class="group-item-container-name"><?php echo $_item->getName() ?></span>
        </div>
        <div class="group-item-plus" id="group_item_plus_<?php echo $itemId ?>" data-product-id="<?php echo $itemId ?>" data-pos-x="<?php echo $_item->getPositions()->getPosX(); ?>" data-pos-y="<?php echo $_item->getPositions()->getPosY(); ?>">    
            <div class="group-plus">
                <a href="#group-plus-content-<?php echo $itemId ?>"><?php echo $this->getMarkerImage() ?></a>
                <?php if ($this->isTooltipEnabled()): ?>
                <div class="number" id="group-item-plus-qty-<?php echo $itemId ?>" <?php if ((int)$_item->getQty() == 0): ?>style="display:none;"<?php endif; ?>>
                    <?php echo (int)$_item->getQty() ?>
                    <?php //echo $this->getTooltipImage() ?>
                </div>
                <?php endif; ?>
            </div>
            <div id="group-plus-content-<?php echo $itemId ?>" class="block" style="display:none;">
                <div class="item" style="width:<?php echo (int)$styleConfig['popup_image_width']; ?>px">		 
                    <?php if ($url = $this->getDetailPageUrl($_item)): ?>
                    <a class="product-image" title="Magento Red Furniture Set" href="<?php echo $url ?>">
                    <?php else: ?>
                    <div class="product-image">
                    <?php endif; ?>
                        <?php /* ?><img width="<?php echo (int)$styleConfig['popup_image_width']; ?>" height="<?php echo (int)$styleConfig['popup_image_height']; ?>" alt="Magento Red Furniture Set" src="<?php echo $this->helper('catalog/image')->init($_item, 'image')->resize((int)$styleConfig['popup_image_width'], (int)$styleConfig['popup_image_height']) ?>"><?php */ ?>
                        <img width="100%" alt="Magento Red Furniture Set" src="<?php echo $this->helper('catalog/image')->init($_item, 'image')->resize((int)$styleConfig['popup_image_width'], (int)$styleConfig['popup_image_height']) ?>">
                    <?php if ($url): ?>
                    </a>
                    <?php else: ?>
                    </div>
                    <?php endif; ?>
                    <h1 class="product-name">
                    <?php if ($url): ?>
                    <a href="<?php echo $url ?>"><?php echo $_item->getName() ?></a>
                    <?php else: ?>
                    <?php echo $_item->getName() ?>
                    <?php endif; ?>
                    </h1>
                    <?php echo $this->getPriceHtml($_item, TRUE); ?>
                    <div class="group-qty-container" id="qty_container_<?php echo $itemId ?>">
                        <img id="qty_minus" src="<?php echo $this->getSkinUrl('images/belvg/lookbook/icons/minus_icon.gif') ?>" class="btn-zoom-out" />
                        <input id="qty" class="input-text qty" type="text" value="<?php echo $_item->getQty()*1 ?>" maxlength="3"/>
                        <img id="qty_plus" src="<?php echo $this->getSkinUrl('images/belvg/lookbook/icons/plus_icon.gif') ?>" class="btn-zoom-in" />
                    </div>
                </div>
                <script>
                jQblvg(document).ready( function(){
                    lookbook.group_products_qty['<?php echo $itemId ?>'] = <?php echo $_item->getQty()*1 ?>;
                    jQblvg('#qty_container_<?php echo $itemId ?> #qty_minus').unbind('click');
                    jQblvg('#qty_container_<?php echo $itemId ?> #qty_plus').unbind('click');
                    jQblvg('#qty_container_<?php echo $itemId ?> #qty_minus').click( function(){
                        if (lookbook.group_products_qty['<?php echo $itemId ?>'] != 0) {
                            lookbook.group_products_qty['<?php echo $itemId ?>'] = lookbook.group_products_qty['<?php echo $itemId ?>'] - 1;
                            lookbook.refreshGroupQty(<?php echo $itemId ?>);
                        }
                        return false;
                    });
                    jQblvg('#qty_container_<?php echo $itemId ?> #qty_plus').click( function(){
                        lookbook.group_products_qty['<?php echo $itemId ?>']++;
                        lookbook.refreshGroupQty(<?php echo $itemId ?>);
                        return false;
                    });
                    jQblvg('#qty_container_<?php echo $itemId ?> #qty').change( function(){
                        lookbook.group_products_qty['<?php echo $itemId ?>'] = jQblvg(this).val();
                        lookbook.refreshGroupQty(<?php echo $itemId ?>);
                    });
                    jQblvg("input[name='super_group[<?php echo $itemId ?>]']").change( function(){
                        lookbook.group_products_qty['<?php echo $itemId ?>'] = jQblvg(this).val();
                        lookbook.refreshGroupQty(<?php echo $itemId ?>);
                    });
                });
                </script>
            </div>
        </div>
    </div>
    <?php endforeach; ?>
    <?php if ($this->isMapsterEnabled()): ?>
    <map name="items">
    <?php foreach ($_associatedProducts as $_item): ?>
        <area name="mapareahighlight" data-product-id="<?php echo $_item->getEntityId() ?>" id="area_<?php echo $_item->getEntityId() ?>" shape="poly" href="#" data-coords="<?php echo $_item->getPositions()->getMap(); ?>" coords="0,0,0,300,300,300,300,0,0,0">
    <?php endforeach; ?>
    </map>
    <?php endif; ?>
</div>