<?php $_product = $this->getProduct();
$packQty = (int) $_product->getData('pack_qty');
if ($packQty <= 0) {
    $packQty = 1;
}
$minQty = $packQty > 0 ? $packQty : $this->getProductDefaultQty();
$maxQty = (int) Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty();
?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php if($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <?php if(!$_product->isGrouped()): ?>
        <label for="qty"><?php echo $this->__('Qty:') ?></label>
        <div class="qty-holder">
            <input type="text" name="qty" id="qty" maxlength="12" data-packqty="<?php echo $packQty ?>" data-maxqty="<?php echo $maxQty ?>" data-minqty="<?php echo $minQty ?>" value="<?php echo $minQty * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" readOnly="readOnly" />
            <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"></i></a>
                <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"></i></a>
            </div>
        </div>
        <?php endif; ?>
        <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
        <?php echo $this->getChildHtml('', true, true) ?>
    </div>
<?php endif; ?>
